$bg-color: white;
$text-color: #151515;

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import "features";
@import "sections";

html {
  --bg-color: white;
  --text-color: #151515; 
}

html[data-theme='dark'] {
  --bg-color: black;
  --text-color:#ffffff;
}
    
body {
  font-family: 'Raleway';
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul, li {
  margin: 0;
  padding: 0;
}
