@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import "variables";
@import "layouts";
@import "sections";
@import "responsive";

html {
  scroll-snap-type: y mandatory;
  scroll-margin: 1;
}
body {
  font-family: 'Raleway';
  background-color: $light-bg-color;
  color: $light-color;
}

ul, li {
  margin: 0;
  padding: 0;
}

.h1-b {
  font-weight: bold;
}
.h2-b {
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark-bg-color;
    color: $dark-color;
  }
}