@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
// @import url("https://use.typekit.net/tsw3bsk.css");
@import "variables";
@import "layouts";
@import "sections";
@import "responsive";


body {
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  // font-family: raleway, sans-serif;
  background-color: $light-bg-color;
  font-style: normal;
  color: $light-color;
  letter-spacing: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

.h1-b {
  font-weight: bold;
}
.h2-b {
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark-bg-color;
    color: $dark-color;
  }
}