.nav-header {

    position: absolute;
    left: 0;
    right: 0;
    padding-top: 40px;
    font-size: 16px;
    font-weight: 600;
    
    .nav-contact {
        text-align: left;

        a {
            color: $light-color;

            @media (prefers-color-scheme: dark) {
                  color: $dark-color;
              }
        }
    }

    .nav-menus {
        display: none;
        justify-content: flex-end;
        text-transform: uppercase;

        .nav-main-menu {

            ul {
                list-style: none;
            }

            li {
                display: inline-block;
                cursor: pointer;
                
                a {
                    color: $light-color;
                }

                @media (prefers-color-scheme: dark) {
                    a {
                      color: $dark-color;
                    }
                  }
                  

                &:not(:last-child) {
                    padding-right: 20px;
                }
            }
        }
    }
}

.footer-section {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
    opacity: 1;
    transition: opacity 0.25s ease-in;
}

.active {
    opacity: 1;
}