.FullScreenComponent {
    overflow: hidden;
}
.SectionContainer {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in;
}
.section-layout {
    min-height: auto !important;
}


section {
    min-height: 100vh;

    .container {
        width: 85%;
        // padding: 0 24px;
        // padding-bottom: 100px;
    }
}


.center-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-about {
    text-align: center;
    padding-top: 100px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding-bottom: 100px;
    }

    h2 {
        letter-spacing: 1.6px;
    }

    .about-social-links {
        display: flex;
        justify-content: center;
        margin-top: 48px;
        
        a {
            color: $light-color;

            @media (prefers-color-scheme: dark) {
                color: $dark-color;
            }
        }

        i {
            padding: 15px;
            font-size: 33px;
        }
    }
}

.section-work {

    .work-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
        background: lightgray;
        height: 560px;
        overflow: hidden;
        cursor: pointer;

        > div {
            width: 100%;
            height: 100%;
        }

        img {
            height: 100%;
        }

        i {
            position: absolute;
            font-size: 70px;
            opacity: 0;
            transition: all 0.25s ease-in;
            z-index: 99;
        }

        .work-overlay {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: $light-bg-color;
            opacity: 0;
            transition: all 0.5s ease;
            z-index: 98;

            @media (prefers-color-scheme: dark) {
                background-color: $dark-bg-color;
            }
        }

        &:hover {
            i {
                opacity: 1;
            }
            .work-overlay {
                opacity: 0.5;
            }
        }
    }

}

.section-testimonials {
    text-align: center;
    color: $light-color;

    .testimonial-item {
        margin-bottom: 60px;
    }

    .testimonial-item-description {
        margin-bottom: 50px;
        font-weight: 600;
        letter-spacing: 6px;
    }

    .testimonial-item-client {
        margin-bottom: 20px;
        font-weight: 600;
    }

    .testimonial-item-worktype {
        text-transform: uppercase;
        font-weight: 600;
    }

    @media (prefers-color-scheme: dark) {
        color: $dark-color;
    }
}

.section-contact {
    text-align: center;

    .container {
        .container {
            width: 70%;
        }
    }

    h2 {
        font-size: 60px;
        font-weight: 600;
        letter-spacing: -2px;
    }

    form {
        margin: 45px 0;

        .field {
            width: 100%;
            margin-bottom: 25px;
            border: 0;
            border-bottom: 2px solid $light-color;
            padding-bottom: 10px;
            background: none;
            color: $light-color;

            &:focus {
                outline: none !important;
            }

            &::placeholder {
                color: $light-color;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 5px;
            }

            @media (prefers-color-scheme: dark) {
                border-bottom-color: $dark-color;
                color: $dark-color;
                &::placeholder {
                    color: $dark-color;
                }
            }
        }

        button {
            padding: 20px 30px;
            border: 0;
            background: $light-color;
            color: $light-bg-color;
            text-transform: uppercase;
            font-weight: 600;

            @media (prefers-color-scheme: dark) {
                background: $dark-color;
                color: $dark-bg-color;
            }
        }
    }
}