section {
    margin-top: 100px;
    padding-bottom: 100px;

    .container {
        padding: 0 100px;
    }
}

.section-about {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-social-links {
        display: flex;
        justify-content: center;
        margin-top: 48px;

        i {
            padding: 15px;
            font-size: 33px;
        }
    }
}

.section-work {

    .work-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
        background: lightgray;
        height: 460px;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

}